<!-- <div  class="flex items-center justify-center items-center h-screen">
  <a href="#" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-md hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
    <img class="object-cover w-full rounded-t-lg h-90 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="assets/images/rp.png" alt="">
    <div class="flex flex-col justify-between p-4 leading-normal">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
    </div>
</a>


<a href="#" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-md hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
  <img class="object-cover w-full rounded-t-lg h-90 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="assets/images/prof.jpg" alt="">
  <div class="flex flex-col justify-between p-4 leading-normal">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
  </div>
</a>
<a href="#" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-md hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
  <img class="object-cover w-full rounded-t-lg h-90 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" src="assets/images/atache.png" alt="">
  <div class="flex flex-col justify-between p-4 leading-normal">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
  </div>
</a>
</div> -->
        <section class="hero">
            <div class="contnaier">
                <div class="content">
                    <p>New Shop Collection</p>
                    <h1>Find Your Favorite <br> <span>colthing Collection</span></h1>
                    <p>up to 40% off final sale items.</p>
                    <p class="last-p">caught in the moment!</p>
                    <a href="#" class="btn">Show Collection</a>
                </div>
            </div>
        </section>

        <section class="banner">
            <div class="boxs contnaier">
                <div class="box">
                    <img src="img/b-1.jpg" alt="">
                    <div class="text">
                        <span>Your Looks</span>
                        <h5>Must Haves</h5>
                        <a href="#" class="btn">Discover Now</a>
                    </div>
                </div>

                <div class="box">
                    <img src="img/b-2.jpg" alt="">
                    <div class="text">
                        <span>Your Looks</span>
                        <h5>Must Haves</h5>
                        <a href="#" class="btn">Discover Now</a>
                    </div>
                </div>

                <div class="box">
                    <img src="img/b-3.jpg" alt="">
                    <div class="text">
                        <span>Your Looks</span>
                        <h5>Must Haves</h5>
                        <a href="#" class="btn">Discover Now</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="products">
            <div class="contnaier">
                <div class="top-sec">
                    <h3>New Products</h3>
                </div>

                <div class="items">
                    <div class="item">
                        <img src="https://www.campussuddesmetiers.com/wp-content/uploads/2022/05/iStock-1017296544.jpg" alt="">
                        <div class="product-desc">
                            <a href="#" class="title-prod">Boxy Denim Jacket</a>
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                            </div>
                            <div class="price">
                                <span>$35</span>
                                <del>$50</del>
                            </div>

                            <div class="icon-product">
                                <a href="#"><i class="fa-regular fa-heart"></i></a>
                                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                                <a href="#"><i class="fa-solid fa-right-left"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <img src="https://www.campussuddesmetiers.com/wp-content/uploads/2022/05/iStock-1017296544.jpg" alt="">
                        <div class="product-desc">
                            <a href="#" class="title-prod">Boxy Denim Jacket</a>
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                            </div>
                            <div class="price">
                                <span>$35</span>
                                <del>$50</del>
                            </div>

                            <div class="icon-product">
                                <a href="#"><i class="fa-regular fa-heart"></i></a>
                                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                                <a href="#"><i class="fa-solid fa-right-left"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <img src="https://www.campussuddesmetiers.com/wp-content/uploads/2022/05/iStock-1017296544.jpg" alt="">
                        <div class="product-desc">
                            <a href="#" class="title-prod">Boxy Denim Jacket</a>
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                            </div>
                            <div class="price">
                                <span>$35</span>
                                <del>$50</del>
                            </div>

                            <div class="icon-product">
                                <a href="#"><i class="fa-regular fa-heart"></i></a>
                                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                                <a href="#"><i class="fa-solid fa-right-left"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <img src="https://www.campussuddesmetiers.com/wp-content/uploads/2022/05/iStock-1017296544.jpg" alt="">
                        <div class="product-desc">
                            <a href="#" class="title-prod">Boxy Denim Jacket</a>
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                            </div>
                            <div class="price">
                                <span>$35</span>
                                <del>$50</del>
                            </div>

                            <div class="icon-product">
                                <a href="#"><i class="fa-regular fa-heart"></i></a>
                                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                                <a href="#"><i class="fa-solid fa-right-left"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <img src="https://www.campussuddesmetiers.com/wp-content/uploads/2022/05/iStock-1017296544.jpg" alt="">
                        <div class="product-desc">
                            <a href="#" class="title-prod">Boxy Denim Jacket</a>
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                            </div>
                            <div class="price">
                                <span>$35</span>
                                <del>$50</del>
                            </div>

                            <div class="icon-product">
                                <a href="#"><i class="fa-regular fa-heart"></i></a>
                                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                                <a href="#"><i class="fa-solid fa-right-left"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <img src="https://www.campussuddesmetiers.com/wp-content/uploads/2022/05/iStock-1017296544.jpg" alt="">
                        <div class="product-desc">
                            <a href="#" class="title-prod">Boxy Denim Jacket</a>
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                            </div>
                            <div class="price">
                                <span>$35</span>
                                <del>$50</del>
                            </div>

                            <div class="icon-product">
                                <a href="#"><i class="fa-regular fa-heart"></i></a>
                                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                                <a href="#"><i class="fa-solid fa-right-left"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <img src="https://www.campussuddesmetiers.com/wp-content/uploads/2022/05/iStock-1017296544.jpg" alt="">
                        <div class="product-desc">
                            <a href="#" class="title-prod">Boxy Denim Jacket</a>
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                            </div>
                            <div class="price">
                                <span>$35</span>
                                <del>$50</del>
                            </div>

                            <div class="icon-product">
                                <a href="#"><i class="fa-regular fa-heart"></i></a>
                                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                                <a href="#"><i class="fa-solid fa-right-left"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <img src="https://www.campussuddesmetiers.com/wp-content/uploads/2022/05/iStock-1017296544.jpg" alt="">
                        <div class="product-desc">
                            <a href="#" class="title-prod">Boxy Denim Jacket</a>
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                            </div>
                            <div class="price">
                                <span>$35</span>
                                <del>$50</del>
                            </div>

                            <div class="icon-product">
                                <a href="#"><i class="fa-regular fa-heart"></i></a>
                                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                                <a href="#"><i class="fa-solid fa-right-left"></i></a>
                            </div>
                        </div>
                    </div>

                    <!-- 8 items -->
                </div>

            </div>
        </section>


        <section class="banner-2">
            <div class="contnaier">
                <div class="content">
                    <span>hurry ip and get 25% discount</span>
                    <h3>deals of the week</h3>
                    <p>Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. Dignissimos, nesciunt? Unde voluptas doloribus quia et.</p>
                        <a href="#" class="btn">Show Collection</a>
                </div>
            </div>
        </section>


        <section class="products">
            <div class="contnaier">
                <div class="top-sec">
                    <h3>Featured Products</h3>
                </div>

                <div class="items">
                    <div class="item">
                        <img src="https://www.campussuddesmetiers.com/wp-content/uploads/2022/05/iStock-1017296544.jpg" alt="">
                        <div class="product-desc">
                            <a href="#" class="title-prod">Boxy Denim Jacket</a>
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                            </div>
                            <div class="price">
                                <span>$35</span>
                                <del>$50</del>
                            </div>

                            <div class="icon-product">
                                <a href="#"><i class="fa-regular fa-heart"></i></a>
                                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                                <a href="#"><i class="fa-solid fa-right-left"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <img src="https://www.campussuddesmetiers.com/wp-content/uploads/2022/05/iStock-1017296544.jpg" alt="">
                        <div class="product-desc">
                            <a href="#" class="title-prod">Boxy Denim Jacket</a>
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                            </div>
                            <div class="price">
                                <span>$35</span>
                                <del>$50</del>
                            </div>

                            <div class="icon-product">
                                <a href="#"><i class="fa-regular fa-heart"></i></a>
                                <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                                <a href="#"><i class="fa-solid fa-right-left"></i></a>
                            </div>
                        </div>
                    </div>

                    
                    <!-- 4 items -->
                </div>

            </div>
        </section>
        

       

       


        <footer>
            <div class="contnaier">
                <div class="big-rows">
                    <h6 class="logo">best<span>shop</span></h6>
                    <p>Lorem ipsum dolor sit, amet consectetur 
                        adipisicing elit. Dolorum perferendis iste officia!</p>
                        <div class="coical-icon">
                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#"><i class="fa-brands fa-google-plus-g"></i></a>
                        </div>
                </div>

                <div class="row">
                    <h2 class="tittle">Information</h2>
                    <div class="links">
                        <a href="#">Our Stores</a>
                        <a href="#">About US</a>
                        <a href="#">Business</a>
                        <a href="#">Delivery</a>
                    </div>
                </div>

                <div class="row">
                    <h2 class="tittle">Useful Links</h2>
                    <div class="links">
                        <a href="#">Our Stores</a>
                        <a href="#">About US</a>
                        <a href="#">Business</a>
                        <a href="#">Delivery</a>
                    </div>
                </div>

                <div class="row">
                    <h2 class="tittle">Service</h2>
                    <div class="links">
                        <a href="#">Our Stores</a>
                        <a href="#">About US</a>
                        <a href="#">Business</a>
                        <a href="#">Delivery</a>
                    </div>
                </div>
            </div>

            <div class="bottom-footer">
                <div class="content">
                    <p>&copy; 2023 | Made by Love With <span>Happy Code</span></p>

                    <div class="payment-img">
                        <img src="img/payment-1.png" alt="">
                        <img src="img/payment-2.png" alt="">
                        <img src="img/payment-3.png" alt="">
                        <img src="img/payment-4.png" alt="">
                    </div>
                </div>
            </div>
        </footer>